#header {
  display: grid;
  grid-template-areas: "logo menu";
  align-items: center;
}

#navbar-header {
  grid-area: logo;
}

#navbar-menu {
  grid-area: menu;
}

#menus {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: space-between;
}

footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #000;
}

#footer-text {
  font-size: 14px;
  line-height: 20px;
  color: #FFF;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}

#footer-social {
  margin-top: -8px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-around;
}

#footer-social a {
  display: inline-block;
  text-align: center;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 32px;
  margin: 3px;
  border: 1px solid transparent;
  border-radius: 30px;
}

#footer-wrap {
  display: grid;
  grid-template-areas: "text social";
  justify-content: space-around;
}
